.testBanner {
  margin: 1%;
  color: rgb(124, 93, 34);
  background-color: lightsalmon;
}

.related {
  border: 4px dashed brown;
}

.relatedCarousel {
  border: 2px dashed rgb(80, 24, 24);
  margin: 2px
}

.scroller {
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: hidden;
}

.relatedCard {
  border: .20em inset rgb(232, 245, 158);
  margin: .1em;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: right;
  width: 14em;
}

.name {
  /* display: flex; */
  text-align: right;
  font:
  margin: .5em .25em .25em;
}

.category {
  text-align: right;
  margin: .25em;
}

.thumbnail {
  min-height: 50%;
  min-width: 60%;
  max-width: 75%;
  max-height: 66%;
  margin: .2em;
}

.outfitCarousel {
  border: 2px dashed rgba(224, 88, 88, 0.507);
  margin: 2px
}

