.product-overview,
.product-overview-top,
.product-overview-bottom,
.product-overview-image,
.product-overview-info,
.product-overview-info h1,
.product-overview-info h2,
.product-overview-info h3,
.product-overview-info h4,
.product-overview-info h5,
.product-overview-info h6,
.product-overview-description,
.product-overview-features,
.vl,
.style-thumbnail,
#rating-stars,
.product-selections div select,
.product-selections div button {
  margin: 10px;
}

#ProductOverview {
  border: 2px dashed gray;
  display: flex;
  flex-direction: column;
}

.product-overview-top {
  order: 0;
  display: flex;
  flex-direction: row;
  margin-left: 12%;
  margin-right: 12%;
}

.product-overview-bottom {
  order: 1;
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
}

.product-overview-image {
  /* background-color: aqua; */
  order: 0;
  flex: 2 0 0;
  position: relative;
  z-index: 1;
}

.product-overview-image .main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 540px;
  object-fit: cover;
}

.product-overview-image button {
  border: none;
  background-color: transparent;
}

.product-overview-image button i {
  cursor: pointer;
}

.img-shift-left-arrow {
  position: absolute;
  z-index: 2;
  left: 5%;
  top: 50%;
}

.img-shift-right-arrow {
  position: absolute;
  right: 5%;
  top: 50%;
}

.img-expand-btn {
  position: absolute;
  top: 5%;
  right: 5%;
}

#img-carousel {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
  flex-direction: column;
}

#img-carousel .tile {
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 0%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.tile .current-image-checkmark {
  position: relative;
  top: 0%;
  left: 0%;
}

.tile-img {
  display: block;
  object-fit: cover;
  height: 60px;
  width: 60px;
}

.product-overview-info {
  order: 1;
  flex: 1 0 0;
}

.product-overview-description {
  order: 0;
  flex: 3 0 0;
}

.product-overview-features {
  order: 1;
  flex: 1 0 0;
}

.vl {
  border-left: 3px solid gray;
  height: auto;
}

.style-thumbnail-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.style-thumbnail {
  border-radius: 50%;
  height: 75px;
  width: 75px;
  cursor: pointer;
}

.product-overview-info-top {
  display: flex;
  flex-direction: column;
}

.product-overview-info-top .indented {
  flex: 4 0 0;
}

.product-overview-info-top .deadspace {
  flex: 1 0 0;
}

.onsale {
  color: red;
}

.onsale strike {
  color: black;
}

.style-thumbnail-wrapper {
  position: relative;
}

#current-style-checkmark {
  position: absolute;
  top: 10%;
  right: 10%;
}

#rating-stars {
  display: flex;
  flex-direction: row;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the lens:*/
  width: 100px;
  height: 100px;
}

.img-zoom-result {
  position: absolute;
  border: 1px solid #d4d4d4;
  /*set the size of the result div:*/
  width: 300px;
  height: 300px;
}

.product-selections-dropdowns {
  display: flex;
}

.product-selections-dropdowns .product-size-selection {
  height: 50px;
  flex-grow: 2;
}

.product-selections-dropdowns .product-quantity-selection {
  height: 50px;
  flex-grow: 1;
}

.product-selections-buttons {
  display: flex;
}

.product-selections-buttons .add-to-bag-button {
  height: 50px;
  flex-grow: 7;
}

.product-selections-buttons .star-button {
  height: 50px;
  flex-grow: 1;
}